@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");
/* .p0 {
  padding: 0px;
} */
p {
  margin: 0;
  padding: 0; 
}
.show {
  display: block;
}
.show1 {
  display: none;
}
.img1{
  height: auto; 
  width: 15%
}
@media (max-width: 991px) {
  .show1 {
    display: block;
  }
  .show {
    display: none;
  }
  .navbar-header {
    float: left;
    /* padding: 15px; */
    text-align: center;
    width: 100%;
}
.img1{
  height: auto; 
  width: 30%
}
  .navbar-brand {float:none;}
}

