@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");
/* .p0 {
  padding: 0px;
} */
p {
  margin: 0;
  padding: 0; 
}
.show {
  display: block;
}
.show1 {
  display: none;
}
.img1{
  height: auto; 
  width: 15%
}
@media (max-width: 991px) {
  .show1 {
    display: block;
  }
  .show {
    display: none;
  }
  .navbar-header {
    float: left;
    /* padding: 15px; */
    text-align: center;
    width: 100%;
}
.img1{
  height: auto; 
  width: 30%
}
  .navbar-brand {float:none;}
}

/*================= Header Nav ================*/
/*
.navbar-toggler {
  padding: 0px;
  margin-left: 20px;
}

.navbar-toggler:focus {
  outline: none;
}

.menu_toggle {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: block;
}

.menu_toggle .hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
}

.menu_toggle .hamburger span {
  width: 0%;
  height: 2px;
  position: relative;
  top: 0;
  left: 0;
  margin: 4px 0;
  display: block;
  background: #5e2ced;
  border-radius: 3px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu_toggle .hamburger span:nth-child(1) {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.menu_toggle .hamburger span:nth-child(2) {
  -webkit-transition-delay: .125s;
  -o-transition-delay: .125s;
  transition-delay: .125s;
}

.menu_toggle .hamburger span:nth-child(3) {
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.menu_toggle .hamburger-cross {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}

.menu_toggle .hamburger-cross span {
  display: block;
  background: #5e2ced;
  border-radius: 3px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu_toggle .hamburger-cross span:nth-child(1) {
  height: 100%;
  width: 2px;
  position: absolute;
  top: 0;
  left: 10px;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.menu_toggle .hamburger-cross span:nth-child(2) {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.collapsed .menu_toggle .hamburger span {
  width: 100%;
}

.collapsed .menu_toggle .hamburger span:nth-child(1) {
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.collapsed .menu_toggle .hamburger span:nth-child(2) {
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.collapsed .menu_toggle .hamburger span:nth-child(3) {
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.collapsed .menu_toggle .hamburger-cross span:nth-child(1) {
  height: 0%;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.collapsed .menu_toggle .hamburger-cross span:nth-child(2) {
  width: 0%;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.header_area_two + section, .header_area_three + section {
  margin-top: 93px;
}

.h_dark {
  background: #13112d;
}

.header_area_three {
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.1);
  box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.1);
}

.header_area_three .menu_four .pl_30 {
  padding-left: 30px;
}

.header_area_three .menu_four .btn_get {
  border-color: #5e2ced;
  background: #5e2ced;
  color: #fff;
}

.header_area_three .menu_four .btn_get:hover {
  background: transparent;
  color: #5e2ced;
}

.header_area_three.navbar_fixed .menu_four .btn_get {
  border-color: #5e2ced !important;
}

.header_area_four .header_top {
  background: #13112d;
}

.header_area_four .header_top a {
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header_area_four .header_top a:hover {
  color: #5e2ced;
}

.header_area_four + section {
  margin-top: 144px;
}

.header_top {
  padding: 12px 0px;
}

.header_contact_info {
  margin-bottom: 0;
}

.header_contact_info li {
  display: inline-block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

.header_contact_info li:before {
  content: "";
  width: 1px;
  height: 12px;
  top: 1px;
  background: #5e5d76;
  display: inline-block;
  position: relative;
  margin: 0px 22px 0px 20px;
}

.header_contact_info li:first-child:before {
  display: none;
}

.header_contact_info li a {
  color: #c3c1da;
  font-weight: 300;
  padding-left: 5px;
}

.header_social_icon {
  text-align: right;
  margin-bottom: 0;
}

.header_social_icon li {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}

.header_social_icon li a {
  font-size: 12px;
  color: #fff;
}

.header_area_five .menu_one {
  padding: 0px 50px;
}

.header_area_six .header_top {
  border-bottom: 1px solid #e5ddfc;
}

.header_area_six .header_top a:hover {
  color: #5e2ced !important;
}

.header_area_six .header_top .header_contact_info li {
  color: #282835;
}

.header_area_six .header_top .header_contact_info li a {
  color: #677294;
}

.header_area_six .header_top .header_social_icon li a {
  color: #282835;
}

.header_area_six + section {
  margin-top: 144px;
}

.header_area_seven .header_top {
  background: #5e2ced;
  padding: 0px;
}

.header_area_seven .header_top a {
  line-height: 50px;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.header_area_seven .header_top a:hover {
  opacity: 1;
}

.header_area_seven .header_top .header_contact_info li i {
  vertical-align: middle;
}

.header_area_seven .header_top .header_contact_info li a {
  color: #fff;
}

.header_area_seven .header_top .header_social_icon {
  border-left: 1px solid #7444ff;
  padding-left: 22px;
  margin-left: 40px;
}

.header_area_seven .header_top .header_top_menu {
  text-align: right;
  margin-bottom: 0px;
}

.header_area_seven .header_top .header_top_menu li {
  display: inline-block;
}

.header_area_seven .header_top .header_top_menu li:before {
  content: "";
  width: 1px;
  height: 11px;
  background: #8e6bf7;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 17px 0px 15px;
}

.header_area_seven .header_top .header_top_menu li a {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #fff;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.header_area_seven .header_top .header_top_menu li:first-child:before {
  display: none;
}

.header_area_seven + section {
  margin-top: 118px;
}

.menu_poss .w_menu.search_cart .search a.nav-link {
  margin-left: 32px;
}

/*============ sticky menu css ==============
.header_area {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #c7e7e2;

}

.navbar_fixed .header_area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #c7e7e2;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
  box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
}

.navbar_fixed .header_area .menu_one {
  padding: 10px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar_fixed .header_area .menu_one .btn_get {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar_fixed .header_area .menu_one .btn_get.new_btn{
  color: #6754e2;
  border: 2px solid #ccc5fa;
  background: #c7e7e2;
}

.navbar_fixed .header_area .menu_one .btn_get.new_btn:hover{
  color: #fff;
  background: #5e2ced;
  border-color: #5e2ced;
}

.navbar_fixed .header_area .sticky_logo img {
  display: none;
}

.navbar_fixed .header_area .sticky_logo img + img {
  display: block;
}

.navbar_fixed .header_area .w_menu .nav-item .nav-link {
  color: #051441;
}

.navbar_fixed .header_area .w_menu .nav-item .nav-link:before {
  background: #051441;
}

.navbar_fixed .header_area .menu_poss .w_menu .nav-item .nav-link:hover {
  color: #5e53fb;
}

.navbar_fixed .header_area .menu_poss .w_menu .nav-item .nav-link:hover:before {
  background: #5e53fb;
}

.navbar_fixed .header_area .menu_poss .w_menu .nav-item .nav-link.active {
  color: #5e53fb;
}

.navbar_fixed .header_area .menu_poss .w_menu .nav-item .nav-link.active:before {
  background: #5e53fb;
}

.navbar_fixed .header_area .menu_poss .w_menu.search_cart .search a.nav-link:before {
  background: #5e53fb;
}

.navbar_fixed .header_area .menu_two .menu_toggle .hamburger-cross span,.navbar_fixed .header_area .menu_two .menu_toggle .hamburger span {
  background: #051441;
}

.navbar_fixed .header_area .menu_two .nav_right_btn .login_btn.active,.navbar_fixed .header_area .menu_two .nav_right_btn .login_btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar_fixed .header_area .menu_two .nav_right_btn .login_btn.active:hover {
  color: #fff;
}

.menu_four .btn_get {
  border: 2px solid #ccc5fa;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.menu_four .btn_get:hover {
  background: #5e2ced;
  border-color: #5e2ced;
}
.navbar_fixed .header_area .menu_four .btn_get:hover {
  border-color: #6754e2;
}

.navbar_fixed .header_area .menu_four .btn_get_radious {
  border-color: #563bd1;
  color: #563bd1;
}

.navbar_fixed .header_area .menu_four .btn_get_radious:hover {
  background: #563bd1;
  color: #fff;
}

.navbar_fixed .header_area .menu_four .menu_toggle .hamburger span,.navbar_fixed .header_area .menu_four .menu_toggle .hamburger-cross span {
  background: #6754e2;
}

.navbar_fixed .header_area .nav_right_btn .login_btn {
  color: #051441;
}

.navbar_fixed .header_area .menu_five .btn_get {
  border-color: #3d64f4;
  color: #3d64f4;
  display: inline-block;
}

.navbar_fixed .header_area .menu_five .btn_get:hover {
  background: #3d64f4;
  color: #fff;
}

.navbar_fixed .header_area .menu_five .menu_toggle .hamburger-cross span, .navbar_fixed .header_area .menu_five .menu_toggle .hamburger span {
  background: #3d64f4;
}

.navbar_fixed .header_area .menu_six .menu > .nav-item > .nav-link {
  color: #051441;
}

.navbar_fixed .header_area .menu_six .menu > .nav-item:hover > .nav-link, .navbar_fixed .header_area .menu_six .menu > .nav-item.active > .nav-link {
  color: #3d57f4;
}

.navbar_fixed .header_area .menu_six .menu > .nav-item:hover > .nav-link:before, .navbar_fixed .header_area .menu_six .menu > .nav-item.active > .nav-link:before {
  background: #3d57f4;
}

.navbar_fixed .header_area .menu_six .menu_toggle .hamburger-cross span, .navbar_fixed .header_area .menu_six .menu_toggle .hamburger span {
  background: #3d57f4;
}

.navbar_fixed .header_area .menu_six .btn_get {
  border-color: #3d57f4;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3d57f4;
}

.navbar_fixed .header_area .menu_six .btn_get:hover {
  color: #fff;
}

.navbar_fixed .header_area .menu_seven .menu > .nav-item > .nav-link {
  color: #051441;
}

.navbar_fixed .header_area .menu_seven .menu > .nav-item:hover > .nav-link, .navbar_fixed .header_area .menu_seven .menu > .nav-item.active > .nav-link {
  color: #4069eb;
}

.navbar_fixed .header_area .menu_seven .menu > .nav-item:hover > .nav-link:before, .navbar_fixed .header_area .menu_seven .menu > .nav-item.active > .nav-link:before {
  background: #4069eb;
}

.header_area.navbar_fixed .menu_seven .btn_get {
  border-color: #4069eb;
  color: #4069eb;
}

.header_area.navbar_fixed .menu_seven .btn_get:hover {
  background: #4069eb;
  color: #fff;
}

.header_area.navbar_fixed .menu_seven .menu_toggle .hamburger-cross span, .header_area.navbar_fixed .menu_seven .menu_toggle .hamburger span {
  background: #4069eb;
}

.header_area.navbar_fixed .menu_eight .saas_btn {
  border-color: #23b1fe;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header_area.navbar_fixed .menu_eight .saas_btn:hover {
  background: #23b1fe;
  color: #fff;
}

.header_area.navbar_fixed .menu_eight .menu_toggle .hamburger span, .header_area.navbar_fixed .menu_eight .menu_toggle .hamburger-cross span {
  background: #23b1fe;
}

.header_area.navbar_fixed .menu_nine .menu > .nav-item:hover > .nav-link, .header_area.navbar_fixed .menu_nine .menu > .nav-item.active > .nav-link {
  color: #5f51fb;
}

.header_area.navbar_fixed .menu_nine .menu > .nav-item:hover > .nav-link:before, .header_area.navbar_fixed .menu_nine .menu > .nav-item.active > .nav-link:before {
  background: #5f51fb;
}

.header_area.navbar_fixed .menu_nine .btn_get {
  border-color: #5f51fb;
  color: #5f51fb;
}

.header_area.navbar_fixed .menu_nine .btn_get:hover {
  background: #5f51fb;
  color: #fff;
}

.header_area.navbar_fixed .menu_nine .menu_toggle .hamburger-cross span, .header_area.navbar_fixed .menu_nine .menu_toggle .hamburger span {
  background: #5f51fb;
}

.header_area.navbar_fixed.header_area_five .menu_one {
  padding: 0px 50px;
}

.header_area.navbar_fixed.header_area_six .header_top {
  display: none;
}

.full_header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
}

.full_header .logo img {
  display: none;
}

.full_header .logo img + img {
  display: inline-block;
}

.full_header .bar_menu {
  cursor: pointer;
}

.full_header .bar_menu span {
  width: 36px;
  height: 2px;
  background: #fff;
  display: block;
}

.full_header .bar_menu span:not(:last-child) {
  margin-bottom: 7px;
}

.full_header .bar_menu span:nth-child(2) {
  width: 24px;
}

.full_header .bar_menu span:nth-child(3) {
  width: 30px;
}

.full_header.content-white .logo img {
  display: inline-block;
}

.full_header.content-white .logo img + img {
  display: none;
}

.hamburger-menu-wrepper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 108;
  padding: 55px 80px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.8s ease .4s;
  transition: -webkit-transform 0.8s ease .4s;
  -o-transition: transform 0.8s ease .4s;
  transition: transform 0.8s ease .4s;
  transition: transform 0.8s ease .4s, -webkit-transform 0.8s ease .4s;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  background: rgba(5, 20, 65, 0.98);
}

.hamburger-menu-wrepper .nav {
  position: relative;
  z-index: 108;
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
  opacity: 0;
  visibility: hidden;
  -o-transition: all ease .3s .0s;
  -webkit-transition: all ease .3s .0s;
  transition: all ease .3s .0s;
}

.hamburger-menu-wrepper .nav .nav_logo img {
  opacity: 1 !important;
}

.hamburger-menu-wrepper .nav .close-menu {
  color: #fff;
}

.hamburger-menu-wrepper .animation-box {
  position: absolute;
  top: 5%;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}

.hamburger-menu-wrepper .animation-box .menu-box {
  display: table;
  height: 100%;
  width: 62%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}

.hamburger-menu-wrepper.show-menu {
  z-index: 108;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  transition: -webkit-transform .7s ease .2s;
  -webkit-transition: -webkit-transform .7s ease .2s;
  -o-transition: transform .7s ease .2s;
  transition: transform .7s ease .2s;
  transition: transform .7s ease .2s, -webkit-transform .7s ease .2s;
}

.hamburger-menu-wrepper.show-menu .nav {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: opacity ease 1.4s 0.7s, -webkit-transform ease 1.4s 0.7s;
  transition: opacity ease 1.4s 0.7s, -webkit-transform ease 1.4s 0.7s;
  -o-transition: transform ease 1.4s 0.7s, opacity ease 1.4s 0.7s;
  transition: transform ease 1.4s 0.7s, opacity ease 1.4s 0.7s;
  transition: transform ease 1.4s 0.7s, opacity ease 1.4s 0.7s, -webkit-transform ease 1.4s 0.7s;
  opacity: 1;
  visibility: visible;
}

.hamburger-menu-wrepper.show-menu .animation-box {
  top: 0;
  opacity: 1;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .7s;
  -o-transition-duration: .7s;
  transition-duration: .7s;
}

.hamburger-menu-wrepper.show-menu .animation-box .menu-box {
  opacity: 1;
}

.hamburger-menu-wrepper.show-menu .animation-box .menu-box .offcanfas_menu > li a {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: opacity ease 1.4s 0.6s, -webkit-transform ease 1.4s 0.6s;
  transition: opacity ease 1.4s 0.6s, -webkit-transform ease 1.4s 0.6s;
  -o-transition: transform ease 1.4s 0.6s, opacity ease 1.4s 0.6s;
  transition: transform ease 1.4s 0.6s, opacity ease 1.4s 0.6s;
  transition: transform ease 1.4s 0.6s, opacity ease 1.4s 0.6s, -webkit-transform ease 1.4s 0.6s;
  opacity: 1;
  visibility: visible;
}

.navbar .offcanfas_menu {
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.navbar .offcanfas_menu > .nav-item {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.navbar .offcanfas_menu > .nav-item:not(:last-child) {
  margin-bottom: 18px;
}

.navbar .offcanfas_menu > .nav-item .nav-link {
  font-size: 2.1rem;
  line-height: 46px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  opacity: 0;
  visibility: hidden;
  -o-transition: all ease .3s .0s;
  -webkit-transition: all ease .3s .0s;
  transition: all ease .3s .0s;
  display: inline-block;
}

.navbar .offcanfas_menu > .nav-item .nav-link:before {
  background: #fff;
}

.navbar .offcanfas_menu > .nav-item.submenu .nav-link {
  padding-right: 20px;
}

.navbar .offcanfas_menu > .nav-item.submenu .nav-link:after {
  content: "\33";
  font-family: eleganticons;
  position: absolute;
  right: 13px;
  top: 0;
  display: block;
  border: 0;
  line-height: 50px;
  margin-left: 20px;
}

.navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu {
  position: relative !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  transform: translate3d(0px, 0px, 0px) !important;
  display: none;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
  z-index: 0;
  background: transparent;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 0;
  max-height: none !important;
  left: 0;
}

.navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu > .nav-item {
  background: transparent;
  padding: 0px;
}

.navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu > .nav-item > .nav-link {
  color: #fff;
  font-size: 16px;
  line-height: 31px;
}

.navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu > .nav-item:hover .nav-link, .navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu > .nav-item.active .nav-link {
  color: #5f28fb;
}

.navbar .offcanfas_menu > .nav-item.submenu.active .nav-link {
  color: #5f28fb;
}

.navbar .offcanfas_menu > .nav-item.submenu.active .nav-link:before {
  background: #5f28fb;
}

.navbar .offcanfas_menu > .nav-item.submenu.show .nav-link {
  color: #5f28fb;
}

.navbar .offcanfas_menu > .nav-item.submenu.show .nav-link:before {
  width: 100%;
  background: #5f28fb;
}

.navbar .offcanfas_menu > .nav-item.submenu.show .dropdown-menu {
  position: relative !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  transform: translate3d(0px, 0px, 0px) !important;
}

.header_footer {
  display: table-footer-group;
  padding-bottom: 80px;
}

.header_footer h5 {
  font-size: 16px;
  color: #fff;
}

.header_footer ul {
  margin-bottom: 40px;
}

.header_footer ul li {
  display: inline-block;
  margin-right: 6px;
}

.header_footer ul li a {
  width: 44px;
  height: 44px;
  border: 1px solid #656c82;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 44px;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header_footer ul li a:hover {
  background: #fff;
  border-color: #fff;
  color: #5f28fb;
}

.header_footer p {
  font-size: 16px;
  color: #858faf;
  margin-bottom: 100px;
}

.close_icon {
  position: absolute;
  right: 60px;
  top: 40px;
  color: #7b84a2;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.close_icon:hover {
  color: #fff;
}

.burger_menu {
  width: 40px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #051441;
  margin-left: 25px;
}

.side_menu_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(5, 20, 65, 0.9);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.8s ease .4s;
  transition: -webkit-transform 0.8s ease .4s;
  -o-transition: transform 0.8s ease .4s;
  transition: transform 0.8s ease .4s;
  transition: transform 0.8s ease .4s, -webkit-transform 0.8s ease .4s;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.side_menu_wrapper .side_menu {
  max-width: 545px;
  height: 100%;
  margin-left: auto;
  background: #fff;
  position: relative;
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}

.side_menu_wrapper .side_menu ul {
  margin-bottom: 0;
}

.side_menu_wrapper .side_menu .menu_top {
  padding: 60px 70px 0px;
}

.side_menu_wrapper .side_menu .menu_top .close {
  font-size: 20px;
}

.side_menu_wrapper .side_menu .m_content {
  position: absolute;
  left: 0px;
  top: 10vh;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 55vh;
  -webkit-overflow-scrolling: touch;
  font-weight: 600;
  width: 100%;
  display: block;
  letter-spacing: -.025rem;
  list-style: none;
  margin: 0;
  -webkit-transform: translateY(3rem);
  -ms-transform: translateY(3rem);
  transform: translateY(3rem);
  -webkit-transition: opacity .5s .6s ease,
 -webkit-transform .5s .6s ease;
  transition: opacity .5s .6s ease,
 -webkit-transform .5s .6s ease;
  -o-transition: transform .5s .6s ease,
 opacity .5s .6s ease;
  transition: transform .5s .6s ease,
 opacity .5s .6s ease;
  transition: transform .5s .6s ease,
 opacity .5s .6s ease,
 -webkit-transform .5s .6s ease;
  list-style: none;
  padding-left: 18%;
  padding-right: 100px;
  margin-top: 5vh;
}

.side_menu_wrapper .side_menu .m_content h2 {
  font-size: 3.5vh;
  line-height: 4vh;
  font-weight: 700;
  color: #051441;
  margin-bottom: 1vh;
}

.side_menu_wrapper .side_menu .m_content a {
  font-size: 2.5vh;
  font-weight: 500;
}

.side_menu_wrapper .side_menu .m_content p {
  font-size: 1.9vh;
  line-height: 2.9vh;
  color: #7e86a1;
  font-weight: 300;
  margin-top: 4vh;
  margin-bottom: 8.2vh;
}

.side_menu_wrapper .side_menu .get_info li .media img {
  margin-right: 20px;
  height: 5vh;
}

.side_menu_wrapper .side_menu .get_info li .media .media-body h4 {
  font-size: 2vh;
  font-weight: 600;
  margin-bottom: 0.5vh;
}

.side_menu_wrapper .side_menu .get_info li .media .media-body p {
  margin-bottom: 0vh;
  margin-top: 0.5vh;
  font-size: 1.8vh;
}

.side_menu_wrapper .side_menu .get_info li + li {
  margin-top: 2.9vh;
}

.side_menu_wrapper .side_menu .m_footer {
  position: absolute;
  left: 18%;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.side_menu_wrapper .side_menu .m_footer li a {
  font-size: 20px;
  color: #959ebb;
  font-size: 16px;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #959ebb;
  display: inline-block;
  margin: 0px 5px;
  line-height: 50px;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.side_menu_wrapper .side_menu .m_footer li a:hover {
  background: #5f28fb;
  border-color: #5f28fb;
  color: #fff;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(95, 40, 251, 0.3);
  box-shadow: 0px 20px 20px 0px rgba(95, 40, 251, 0.3);
}

.menu-is-opened .side_menu_wrapper {
  z-index: 100;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  transition: -webkit-transform .7s ease .2s;
  -webkit-transition: -webkit-transform .7s ease .2s;
  -o-transition: transform .7s ease .2s;
  transition: transform .7s ease .2s;
  transition: transform .7s ease .2s, -webkit-transform .7s ease .2s;
}

.menu-is-opened .side_menu_wrapper .side_menu {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s 0.6s linear;
  transition: -webkit-transform 0.5s 0.6s linear;
  -o-transition: transform 0.5s 0.6s linear;
  transition: transform 0.5s 0.6s linear;
  transition: transform 0.5s 0.6s linear, -webkit-transform 0.5s 0.6s linear;
}


*/
/*=============================================================================*/